{%- comment -%}
<!--
  ** Input parameters **
    url     = Target url.
              
  ** Url format **
    /abc/def(/*)
-->
{%- endcomment -%}
{%- assign url = include.url -%}
{%- assign url-begin = url | slice: 0 -%}

{%- if url-begin == "/" -%}
  {%- assign url = url | remove_first: "/" -%}
{%- endif -%}

{%- assign cat-array = url | append: "/" | split: "/" -%}

{%- if cat-array.size == 0 -%}
  {%- assign filtered-posts = site.posts -%}
{%- else -%}
  {%- assign cat_num = cat-array.size | minus: 1 -%}
  
  {%- assign filtered-posts = site.posts | where:"categories", cat-array[0] -%}
  {%- for i in (1..cat_num) -%}
    {%- assign filtered-posts = filtered-posts | where:"categories", cat-array[i] -%}
  {%- endfor -%}
{%- endif -%}

<div class="m-posts-stream">
  <ul>
    {%- for post in filtered-posts -%}
    <li>
      <div class="gr-thumbnail">
        <a href="{{ post.url }}">
          <img src="{{ post.thumbnail }}" alt="thumbnail"/>
        </a>
      </div>
      <div class="gr-title">
        <a href="{{ post.url }}">{{- post.title -}}</a>
      </div>
      <div class="gr-info">
        {%- include svg/schedule_black_24dp.svg -%}
        <span class="posted-date">&#39;{{- post.date | date: "%y. %-m. %-d." | -}}</span>&nbsp;
        {%- include svg/mode_comment_black_24dp.svg -%}
        <span class="comment-count">0</span>

        {%- capture breadcrumbs-text -%}
          {%- include_cached breadcrumbs.html list=site.data.navi.categories url=post.url url-now=page.url mode="plain-comp" -%}
        {%- endcapture -%}
        {% assign num-bct = breadcrumbs-text | strip_html | size %}

        {%- if num-bct != 0 -%}
          &nbsp;{%- include svg/label_black_24dp.svg -%}
          {{ breadcrumbs-text }}
        {%- endif -%}
      </div>
    </li>
    {%- endfor -%}
  </ul>
</div>