{%- assign url = include.url -%}
{%- assign url-begin = url | slice: 0 -%}

{%- if url-begin == "/" -%}
  {%- assign url = url | remove_first: "/" -%}
{%- endif -%}

{%- assign cat-array = url | append: "/" | split: "/" -%}

{%- if cat-array.size == 0 -%}
  {%- assign filtered-posts = site.posts -%}
{%- else -%}
  {%- assign cat_num = cat-array.size | minus: 1 -%}
  
  {%- assign filtered-posts = site.posts | where:"categories", cat-array[0] -%}
  {%- for i in (1..cat_num) -%}
    {%- assign filtered-posts = filtered-posts | where:"categories", cat-array[i] -%}
  {%- endfor -%}
{%- endif -%}

<div class="m-posts-stream">
  <ul>
    {%- for post in filtered-posts -%}
    <li>
      <div class="gr-title">
        <div class="title-wrap">
          <a href="{{ post.url }}">{{- post.title -}}</a>
        </div>
      </div>
      <div class="gr-thumbnail">
        <div class="thumbnail">
          {% if post.thumbnail %}
          <a href="{{ post.url }}">
            <img src="{{ post.thumbnail }}" alt="thumbnail"/>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="gr-breadcrumbs">
        {%- include_cached breadcrumbs.html list=site.data.navi.categories url=post.url url-now=page.url mode="plain-comp" -%}
      </div>
      <div class="gr-comment">
        {% include svg/mode_comment_black_24dp.svg %}
        <span>0</span>
      </div>
      <div class="gr-date">
        &#39;{{- post.date | date: "%y. %m. %d." -}}
      </div>
      <div class="gr-size">
        
      </div>
    </li>
    {%- endfor -%}
  </ul>
</div>