{%- comment -%}
<!--
  ** Input parameters **
    url     = Target url.
              
  ** Url format **
    /abc/def(/*)
-->
{%- endcomment -%}
{%- assign url = include.url -%}
{%- assign url-begin = url | slice: 0 -%}

{%- if url-begin == "/" -%}
  {%- assign url = url | remove_first: "/" -%}
{%- endif -%}

{%- assign cat-array = url | append: "/" | split: "/" -%}

{%- if cat-array.size == 0 -%}
  {%- assign filtered-posts = site.posts -%}
{%- else -%}
  {%- assign cat_num = cat-array.size | minus: 1 -%}
  
  {%- assign filtered-posts = site.posts | where:"categories", cat-array[0] -%}
  {%- for i in (1..cat_num) -%}
    {%- assign filtered-posts = filtered-posts | where:"categories", cat-array[i] -%}
  {%- endfor -%}
{%- endif -%}

<div class="m-posts-stream">
  <ul class="data-ul" id="data-ul">
    {%- for post in filtered-posts -%}
    <li class="data-li">
      <div class="gr-thumbnail">
        <a href="{{ post.url }}">
          <img src="{{ post.thumbnail }}" alt="thumbnail"/>
        </a>
      </div>
      <div class="gr-title">
        <a href="{{ post.url }}">{{- post.title -}}</a>
      </div>
      <div class="gr-info">
        {%- include svg/schedule_black_24dp.svg -%}
        <span class="posted-date">&#39;{{- post.date | date: "%y. %-m. %-d." | -}}</span>&nbsp;
        {%- include svg/mode_comment_black_24dp.svg -%}
        <span class="comment-count">0</span>

        {%- capture breadcrumbs-text -%}
          {%- include_cached breadcrumbs.html list=site.data.navi.categories url=post.url url-now=page.url mode="plain-comp" -%}
        {%- endcapture -%}
        {% assign num-bct = breadcrumbs-text | strip_html | size %}

        {%- if num-bct != 0 -%}
          &nbsp;{%- include svg/label_black_24dp.svg -%}
          {{ breadcrumbs-text }}
        {%- endif -%}
      </div>
    </li>
    {%- endfor -%}
  </ul>

  <div id="m-pagination">
    {%- comment -%}
    <div id="wrap-btn-first">
      <button id="btn-first"></button>
      |
    </div>
    <div id="group-btn-page">
      <button class="btn-page" onclick="gotoPage(1)">1</button>
      <button class="btn-page" onclick="gotoPage(2)">2</button>
    </div>
    <div id="wrap-btn-last">
      |
      <button id="btn-last"></button>
    </div>
  </div>
  {%- endcomment -%}
</div>

<script>
  const dataPerPage = Number('{{site.dataPerPage}}');   // 페이지당 자료 수
  const buttonCount = Number('{{site.buttonCount}}');  // 최대 버튼 개수

  const dataCount = Number('{{filtered-posts.size}}');     // 총 자료 수
  const pageCount = Math.ceil(dataCount / dataPerPage);    // 총 페이지 수

  //  get
  let data_ul = document.getElementById("data-ul");
  let data_li_array = document.getElementsByClassName("data-li");
  let m_pagination = document.getElementById("m-pagination");
  
  // let
  m_pagination.innerHTML = 
    "<div id=\"wrap-btn-first\">" +
      "<button id=\"btn-first\" onclick=\"gotoPage(1)\">1</button>&#133;" +
    "</div>" +
    "<div id=\"group-btn-page\"></div>" +
    "<div id=\"wrap-btn-last\">" +
      "&#133;<button id=\"btn-last\" onclick=\"gotoPage(" + pageCount + ")\">" + pageCount + "</button>" +
    "</div>";
  let wrap_btn_first = document.getElementById("wrap-btn-first");
  let wrap_btn_last = document.getElementById("wrap-btn-last");
  let group_btn_page = document.getElementById("group-btn-page");
  for (let i = 0; i < pageCount; i++) {
    group_btn_page.innerHTML += "<button class=\"btn-page\" onclick=\"gotoPage(" + (i+1) + ")\">" + (i+1) + "</button>";
  }
  let btn_page_array = document.getElementsByClassName("btn-page");

  gotoPage(1);

  function gotoPage(page) {
    for (let i of data_li_array) { i.style = "display: none;"; }

    let data_begin = (page - 1) * dataPerPage;
    let data_end = (page * dataPerPage) - 1;
    if (data_end >= dataCount) { data_end = dataCount - 1 }

    for (let i = data_begin; i <= data_end; i++) { data_li_array[i].style = "display: grid;"; }


    if (pageCount <= buttonCount) {

    }
    else {
      for (let i of btn_page_array) { i.style = "display: none;"; }
      let btn_begin = Math.ceil(page - ((buttonCount - 1) / 2));
      let btn_end = Math.ceil(page + ((buttonCount - 1) / 2));
      if ( btn_begin <= 1 ) {
        btn_end += 1 - btn_begin; btn_begin = 1;
        wrap_btn_first.style = "display: none;";
      }
      else {
        wrap_btn_first.style = "display: inline-block;";
      }
      if ( btn_end >= pageCount ) {
        btn_begin -= btn_end - pageCount; btn_end = pageCount;
        wrap_btn_last.style = "display: none;";
      }
      else {
        wrap_btn_last.style = "display: inline-block;";
      }
      for (let i = btn_begin - 1; i < btn_end; i++) { btn_page_array[i].style = "display: inline-block;"; }
    }
  }
</script>