<div class="m-side-profile">
  <div class="profile-img">
    <img src="/assets/images/profile.png" alt="profile"/>
  </div>
  <div class="profile-info">
    <a href="mailto:kdw7968@naver.com" target="_blank">
      {% include svg/email_black_24dp.svg %}mail
    </a><br/>
    <a href="https://github.com/kkooing" target="_blank">
      {% include svg/email_black_24dp.svg %}github
    </a><br/>
    <a href="https://goo.gl/maps/dGAyQJkjc2XxMfQ77" target="_blank">
      {% include svg/place_black_24dp.svg %}S. KR
    </a>
  </div>
</div>