// 문서/메타/섹션
html {
  box-sizing: border-box;
  overflow-x: hidden;
  word-wrap: break-word;
  scroll-behavior: smooth;

  font-family: $ftfm-sans;
  //font-size: $ftsz-global-medium;
  line-height: $line-height-html;
  color: $cl-g-dark;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: $cl-footer-bg;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ftfm-sans;
  font-weight: bold;
  margin: 0.75rem 0;
}
h1 { font-size: $ftsz-h1; }
h2 { font-size: $ftsz-h2; }
h3 { font-size: $ftsz-h3; }
h4 { font-size: $ftsz-h4; }
h5 { font-size: $ftsz-h5; }
h6 { font-size: $ftsz-h6; }

// 그룹
p {
  margin: 1em 0;
}

hr {
  margin: 2em 0 1em 0;
  border: 0;
  border-top: 1px solid $cl-hr;
}

pre {
  overflow-x: auto;
  line-height: $line-height-code;
}

blockquote {
  margin: 1em 0;
  padding: 0 1em;
  border-left: 0.25em solid $cl-g-light;
  background-color: hsl(210, 10, 98);
}

ol, ul {
  margin: 0.75em 0;
  padding-left: 2em;
}
dl {
  margin: 0.75em 0;
  padding-left: 1em;
  dd {
    margin-left: 1em;
  }
}

// 택스트

a {
  text-decoration-color: $cl-link;
  &:link{ color: $cl-link; }
  &:visited{ color: $cl-link; }
  &:hover{ color: $cl-hover; text-decoration: none; }
}

small {
  font-size: $ftsz-s;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

sub{
  font-size: $ftsz-s;
  vertical-align: sub;
}
sup {
  font-size: $ftsz-s;
  vertical-align: super;
}

pre, code, kbd, samp {
  font-family: $ftfm-mono;
  font-size: $ftsz-m;
}

kbd {
  color: $cl-g-normal;
  background-color: $cl-g-hazy;
  padding: 0 0.25em;
  font-weight: 700;
  border: 2px solid $cl-g-gray;
  border-radius: 0.3em;
}

blockquote, cite, q, dfn, em {
  font-family: "Noto Serif KR";
}
// 기타

button {border:none;display:inline-block;padding:0.25em;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;/*background-color:inherit;*/text-align:center;cursor:pointer;white-space:nowrap;line-height:0;font-size:1em;}

svg {
  vertical-align: -0.1em;
  width: auto;
  height: 1em;
  fill: currentcolor;
}

//  figure

figure {
  margin: 1em 0;
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: $ftsz-s;
    color: $cl-g-light;
  }
}

// 표
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  caption {
    font-size: $ftsz-s;
    color: $cl-g-light;
  }
  td, th {
    border: 1px solid Gainsboro;
    padding: 0 0.3em;
  }
}

.highlight table {
  border-collapse: collapse;
  margin: 0;
  td, th {
    border: 0;
    padding: 0;
  }
}
/*
//  math jax
.MathJax {
  overflow-x: auto;
}*/