// 문서/메타/섹션
html {
  box-sizing: border-box;
  overflow-x: hidden;
  word-wrap: break-word;
  scroll-behavior: smooth;

  font-family: $ftfm-sans;
  font-size: $ftsz-html-medium;
  line-height: $line-height-html;
  color: $ftcl-html;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: $bgcl-footer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ftfm-sans;
  font-weight: bold;
}

h1 { font-size: $ftsz-h1; margin: ((3rem - $ftsz-h1) / 2) 0; }
h2 { font-size: $ftsz-h2; margin: ((3rem - $ftsz-h2) / 2) 0; }
h3 { font-size: $ftsz-h3; margin: ((3rem - $ftsz-h3) / 2) 0; }
h4 { font-size: $ftsz-h4; margin: ((3rem - $ftsz-h4) / 2) 0; }
h5 { font-size: $ftsz-h5; margin: ((3rem - $ftsz-h5) / 2) 0; }
h6 { font-size: $ftsz-h6; margin: ((3rem - $ftsz-h6) / 2) 0; }

// 그룹
p {
  margin: 0.75em 0;
}

hr {
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $cl-hr;
}

pre {
  overflow-x: auto;
  line-height: $line-height-code;
}

blockquote {
  margin: 1em 0;
  padding: 0 1em;
  border-left: 0.25em solid DarkGray;
}

ol, ul {
  margin: 0.75em 0;
  padding-left: 2em;
}
dl {
  margin: 0.75em 0;
  padding-left: 1em;
  dd {
    margin-left: 1em;
  }
}

// 택스트

a {
  text-decoration-color: $ftcl-a-underline;
  &:link{ color: $ftcl-a-link; }
  &:visited{ color: $ftcl-a-visited; }
  &:hover{ color: $ftcl-a-hover; text-decoration: none; }
}

small {
  font-size: $ftsz-s;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

sub{
  font-size: $ftsz-s;
  vertical-align: sub;
}
sup {
  font-size: $ftsz-s;
  vertical-align: super;
}

pre, code, kbd, samp {
  font-family: $ftfm-mono;
  font-size: $ftsz-m;
}

kbd {
  color: $ftcl-html-light;
  background-color: Gainsboro;
  padding: 0 0.25em;
  font-weight: 700;
  border: 2px solid Gray;
  border-radius: 0.3em;
}

// 기타

button {border:none;display:inline-block;padding:0.25em;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;/*background-color:inherit;*/text-align:center;cursor:pointer;white-space:nowrap}

svg {
  vertical-align:middle;
}

//  figure

figure {
  margin: 1em 0;
  img {
    max-width: 100%;
  }
  figcaption {
    font-size: $ftsz-s;
    color: $ftcl-html-light;
  }
}

// 표
table {
  border-collapse: collapse;
  caption {
    font-size: $ftsz-s;
    color: $ftcl-html-light;
  }
  td, th {
    border: 1px solid Gainsboro;
    padding: 0 0.3em;
  }
}

