@media screen and (max-width: $bp-medium) {
  .l-col-left {
    display: none;
  }
  .l-center .l-inner-wrap .l-col-right {
    max-width: ($max-width-site - ($margin-inner-wrap * 2));
    margin-left: 0;
  }
  .l-header .l-inner-wrap .l-hamburger-menu {
    display: inline-block;
  }
}

@media screen and (max-width: $bp-small) {
  html {
    font-size: 1.0625em;
  }
  .l-col-right {
    max-width: $max-width-site;
  }
  .l-center .l-inner-wrap {
    padding: 0;
  }
  .l-header {
    .l-inner-wrap {
      height: ($height-header * 0.5);
      padding: ($margin-inner-wrap * 0.5) $margin-inner-wrap;
      font-size: 1em;

    }
  }
}