@media screen and (max-width: $bp-medium) {
  #sidebar {
    display: none;
  }
  #main {
    max-width: ($site-width - ($margin-site * 2));
    margin-left: 0;
  }
}

@media screen and (max-width: $bp-small) {
  #main {
    max-width: $site-width;
  }
  #center .inner-wrap {
    padding: 0;
  }
}