//  c for container
//    inline-block
.ib>* {
  vertical-align: top;
  display: inline-block;
}
.ib>mjx-container[jax="CHTML"][display="true"] {
  vertical-align: top;
  display: inline-block;
}

//    scroll-x
.sx {
  overflow-x: auto;
}

//    nowrap
.nw {
  white-space: nowrap;
}

//  ※ Note
.note {
  background-color: hsl(55, 95, 90);
  padding: 0.5em;
  position: relative;
  border-top: ($line-height-content * 1.5em) solid hsl(50, 100, 70);
  font-size: $ftsz-s;
  p:first-of-type {
    margin: 0;
    margin-top: ($line-height-content * -1.5em);
    padding: 0;
    &:first-line {
      font-weight: bold;
    }
  }
}