.breadcrumbs {
  font-size: $ftsz-s;
  font-weight: bold;
  a {
    color: hsl(250, 100, 40);
    text-decoration: none;
  }
}


.inline-table-container {
  table {
    vertical-align: top;
    display: inline-block;
  }
}

.scroll-x-container {
  overflow-x: auto;
}