//  c for container
.c-inl>* {
  vertical-align: top;
  display: inline-block;
}
.c-inl>mjx-container[jax="CHTML"][display="true"] {
  vertical-align: top;
  display: inline-block;
}

.c-scr {
  overflow-x: auto;
}

//  ※ Note
.note {
  background-color: hsl(55, 95, 90);
  padding: 0.5em;
  position: relative;
  p {
    margin: 0;
    padding: 0;
  }
  &:before {
    content: "\203B  Note";

  }
  &:after {
    content: "";
    border-bottom: 1px solid hsl(50, 100, 50);
    position: absolute;
    top: (($line-height-content * 1em) + 0.5em);
    left: 0.5em;
    width: calc(100% - 1em);
  }
  .title:first-of-type {
    &:before {
      content: " - ";
    }
    display: inline-block;
  }
}