.inner-wrap {
  margin: auto;
  padding: $margin-site;
  max-width: $site-width;
}

#header {
  background-color: $header-bg-color;
  border-bottom: 1px solid $header-border-color;
  .inner-wrap {
    height: $header-height;

    @include font-header;
  }
}

#center {
  background-color: $center-bg-color;
  .inner-wrap {
    @include clearfix;
  }
}

#footer {
  background-color: $footer-bg-color;
  border-top: 1px solid $footer-border-color;
  .inner-wrap {
    height: $footer-height;
    .copyright {
      text-align: center;
    }
  }
}
