.m-main, .m-comment, .m-related, .m-featured {
  background-color: $bgcl-widget;
  padding: $margin-main;
  margin-bottom: $margin-widget-gap;
  border: 1px solid $bdcl-layout;
}

.m-posts-stream {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      border-bottom: 1px solid $bdcl-layout;
      padding: 0.5em 0;
      display: grid;
      &:last-child { border-bottom: 0; }

      .gr-thumbnail {
        height: (( $ftsz-m * 2 + $ftsz-st ) * $line-height-html);
        width: auto;
        img {
          display: table-cell;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .gr-title {
        height: (( $ftsz-m * 2 ) * $line-height-html);
        padding-left: 0.5em;
        overflow: hidden;
        a {
          color: $ftcl-html-dark;
          text-decoration: none;
        }
      }

      .gr-info {
        font-size: $ftsz-st;
        color: $ftcl-html-light;
        padding-left: 0.5em;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .breadcrumbs {
          display: inline;
          span {
            display: none;
            &:last-child {
              display: inline;
            }
          }
        }
      }
    }
  }

  .data-li {
    display: none;
  }
  #m-pagination {
    text-align: center;
    #wrap-btn-first, #wrap-btn-last, #group-btn-page {
      display: inline-block;
    }
    #btn-first, #btn-last ,.btn-page {
      line-height: 1.45;
      padding: 0 0.5em;
      margin: 0.5em;
    }
  }
}

.m-posts-stream {
  li {
    grid-template-columns: 5rem auto;
    .gr-thumbnail { grid-area: 1 / 1 / span 2 / span 1; }
    .gr-title { grid-area: 1 / 2 / span 1 / span 1; }
    .gr-info { grid-area: 2 / 2 / span 1 / span 1; }
  }
}

.m-featured {
  margin-bottom: 0;
}
