.m-side-profile, .m-side-pages, .m-side-categories {
  background-color: $bgcl-widget;
  margin-bottom: $margin-widget-gap;
  padding: $margin-widget;
  font-size: $ftsz-ms;
  border: 1px solid $bdcl-layout;
  .widget-title {
    font-weight: bold;
    margin: -5px 0 5px 0;
  }
}

.m-hamburger-menu-close {
  @include clearfix;
}

.m-side-profile {

}

.m-side-pages {
  .btn-home svg, .btn-about svg, .btn-archive svg {
    width: $ftsz-m;
    height: $ftsz-m;
  }
}

.m-side-categories {
  margin-bottom: 0;
  a {
    text-decoration: 0;
    color: Indigo;
  }
  hr {
    margin: 5px 5px 5px -5px;
    border-style: solid none none none;
    border-width: 1px;
    border-color: Gainsboro;
  }

  ul {
    margin: 0;
    margin-left: 5px;
    padding-left: 5px;
    list-style-type: none;
    li {
      position: relative;
      .stopover_menu_marker{
        position: absolute;
        width: 1.1em;
        left: -1.1em;
        svg {
          width: $ftsz-m;
          height: $ftsz-m;
        }
      }
      .terminal_menu {
        a{
          color: MidnightBlue;
          &:hover {
            div { background-color: Lavender; }
          }
        }
      }
      .stopover_menu {
  
      }
      .destination_menu {
        background-color: Lavender;
      }
  
      .posts-num {
        font-size: $ftsz-s;
        color: $ftcl-html-light;
        float: right;
      }
      .no-posts {
        color: Gainsboro;
      }
    }

    ul {
      border-left: 1px solid darkgray;
    }
  }
}
