.m-main, .m-comment, .m-related, .m-featured {
  background-color: $cl-widget-bg;
  padding: $margin-main;
  margin-bottom: $margin-widget-gap;
  border: 1px solid $cl-layout;
}

.m-posts-stream {
  margin-top: 0.75em;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid $cl-layout;
    li {
      border-bottom: 1px solid $cl-layout;
      padding: 0.3em 0;
      display: grid;

      .gr-thumbnail {
        height: (( $ftsz-m * 2 + $ftsz-st ) * $line-height-html);
        width: auto;
        img {
          display: table-cell;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .gr-title {
        height: (( $ftsz-m * 2 ) * $line-height-html);
        padding-left: 0.5em;
        overflow: hidden;
        a {
          color: $cl-g-dark;
          text-decoration: none;
        }
      }

      .gr-info {
        font-size: $ftsz-st;
        color: $cl-g-light;
        padding-left: 0.5em;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .breadcrumbs {
          display: inline;
          span {
            display: none;
            &:last-child {
              display: inline;
              font-size: $ftsz-st;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  .data-li {
    display: none;
  }

  #m-pagination {
    margin-top: 0.75em;
    text-align: center;
    #wrap-btn-first, #wrap-btn-last, #group-btn-page {
      display: inline-block;
    }
    #btn-first, #btn-last ,.btn-page {
      line-height: 1;
      font-size: $ftsz-ms;
      padding: 0.3em 0.45em;
      margin: 0.25em;
      background-color: $cl-link-3;
      &:not(.active):hover {
        background-color: $cl-hover-3;
      }
    }
    .active {
      background-color: $cl-hover;
    }
  }
}

.m-posts-stream {
  li {
    grid-template-columns: 5rem auto;
    .gr-thumbnail { grid-area: 1 / 1 / span 2 / span 1; }
    .gr-title { grid-area: 1 / 2 / span 1 / span 1; }
    .gr-info { grid-area: 2 / 2 / span 1 / span 1; }
  }
}

.m-featured {
  margin-bottom: 0;
}
