.m-side-profile, .m-side-pages, .m-side-categories {
  background-color: $bgcl-widget;
  margin-bottom: $margin-widget-gap;
  padding: $margin-widget;
  font-size: $ftsz-sm;
  border: 1px solid $bdcl-layout;
  .widget-title {
    font-weight: bold;
    margin: -5px 0 5px 0;
  }
}

.m-hamburger-menu-close {
  @include clearfix;
}

.m-side-profile {

}

.m-side-pages {
  .btn-home svg, .btn-about svg, .btn-archive svg {
    width: $ftsz-m;
    height: $ftsz-m;
  }
}

.m-side-categories {
  margin-bottom: 0;
  a {
    text-decoration: 0;
    color: $ftcl-html;
  }
  hr {
    margin: 0.5em -0.5em 0.5em -0.5em;
    border-style: solid none none none;
    border-width: 1px;
    border-color: Gainsboro;
  }

  ul {
    margin: 0;
    padding-left: 0.5em;
    list-style-type: none;
    li {
      position: relative;
      .menu {
        padding-left: 0.25em;
      }
      .terminal-menu {
        border-left: 1px solid darkgray;
        a {
          color: MidnightBlue;
        }
        &:not(.no-post):hover { background-color: Lavender; }
      }
      .selected-menu-marker {
        position: absolute;
        width: 0.6em;
        left: -0.6em;
      }
      .selected-menu {
  
      }
      .terminal-menu.selected-menu {
        background-color: Lavender;
      }
  
      .posts-count {
        font-size: $ftsz-st;
        color: $ftcl-html-light;
        float: right;
      }
      .no-post {
        color: $ftcl-html-hazy;
        .posts-count {
          display: none;
        }
      }
    }
  }
  &>ul {
    padding: 0;
  }
}
