.m-side-profile, .m-side-pages, .m-side-categories {
  background-color: $cl-widget-bg;
  margin-bottom: $margin-widget-gap;
  padding: $margin-widget;
  border: 1px solid $cl-layout;
  .widget-title {
    font-weight: bold;
    color: $cl-g-normal;
    margin: -5px 0 5px 0;
  }
}

.hamburger-close {
  display: none;
  @include clearfix;
  padding: ($margin-header-tb * $margin-header-tb-shrink);
  .btn-hamburger {
    font-size: $ftsz-m;
    float: right;
  }
}

.m-side-profile {
  font-size: $ftsz-s;
  display: flex;
  .profile-img {
    flex: 6;
    line-height: 0;
    img {
      width: 100%;
      height: auto;
      padding: 0.25em;
      object-fit: cover;
      border: 1px solid $cl-layout;
      border-radius: 0.25em;
    }
  }
  .profile-info {
    flex: 4;
    padding-left: 0.5em;
  }
}

.m-side-pages {
  button {
    font-size: $ftsz-m;
  }
}

.m-side-categories {
  margin-bottom: 0;
  a {
    text-decoration: 0;
    color: $cl-g-normal;
  }
  hr {
    margin: 0.5em -0.5em 0.5em -0.5em;
    border-style: solid none none none;
    border-width: 1px;
  }

  ul {
    margin: 0;
    padding-left: 0.5em;
    list-style-type: none;
    li {
      position: relative;
      .menu {
        padding: 0.15em 0 0.15em 0.25em;
        font-size: $ftsz-ms;
      }
      .terminal-menu {
        border-left: 1px solid darkgray;
        font-size: $ftsz-s;
        //padding: 0.25em 0;
        a {
          color: $cl-link-2;
          div:hover { background-color: hsl(250, 50, 95); }
        }
      }
      .selected-menu-marker {
        position: absolute;
        width: 0.6em;
        left: -0.6em;
      }
      .selected-menu {
  
      }
      .terminal-menu.selected-menu {
        a div{
          background-color: hsl(250, 50, 95);
        }
      }
  
      .posts-count {
        color: $cl-g-light;
        font-size: $ftsz-st;
        float: right;
      }
      .no-post {
        color: $cl-g-hazy;
        .posts-count {
          display: none;
        }
      }
    }
  }
  &>ul {
    padding: 0;
  }
}
