.m-post {
  .content-header {
    text-align: center;
    .content-title {
      margin: 0.25em 0;
      font-weight: 400;
    }
    .content-meta {
      padding: 0.25em 0;
      font-size: $ftsz-st;
      color: $cl-g-light;
      border-bottom: 1px solid hsl(10, 100, 60);
    }
  }
  .content-text {
    margin: 1em 0;
    letter-spacing: 0.02em;
    line-height: $line-height-content;

    h1, h2, h3, h4, h5, h6 {
      line-height: $line-height-html;
      position: relative;
      color: $cl-h;
    }
    h1, h2 {
      margin: 2.5rem 0 1rem 0;
      padding-left: 0.4rem;
      border-top: 2px solid $cl-h;
      border-left: 0.8rem solid $cl-h;
    }
    h3, h4, h5, h6 {
      margin: 1rem 0;
      padding-left: 0.4rem;
    }
    h3 {
      margin-left: 0.4rem;
      border-left: 0.4rem solid $cl-h;
    }
    h4, h5, h6 {
      &:before {
        content: "";
        position: absolute;
      }
    }
    h4 {
      margin-left: 1.2rem;
      &:before {
        height: 1em;
        width: 0.4rem;
        top: (($line-height-html - 1) / 2 * 1em);
        left: -0.4rem;
        border: 0.45em solid $cl-h;
        border-style: solid none;
      }
    }
    h5, h6 {
      margin-left: 1.6rem;
      &:before {
        height: 0.5em;
        width: 0.5em;
        top: (($line-height-html - 0.5) / 2 * 1em);
        left: -0.5em;
        background-color: $cl-h;
        border: 0;
        border-radius: 50%;
      }
    }
    h6:before {
      content: "";
      position: absolute;
      background-color: hsla(0,0,0,0);
      border: 0.2em solid $cl-h;
    }
    h1:first-child, h2:first-child {
      margin-top: 0;
    }
    h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
      margin-top: -0.5rem;
    }

    hr {
      border-width: 2px;
      border-color: hsl(220, 100, 90);
    }

    a.footnote {
      &:before { content: "["; }
      &:after { content: "]"; }
    }
    .footnotes {
      ol {
        list-style: none;
        counter-reset: my-counter;
        li {
          counter-increment: my-counter;
          &::marker {
            content: "[" counter(my-counter) "] ";
          }
        }
      }
    }
  }
  .content-footer {
    //margin: 1em 0;

    .tag-list {
      .tag-svg {
        color: $cl-h;
      }
      .tag-word {
        display: inline-block;
        font-size: $ftsz-s;
        color: hsl(210, 100, 60);
        background-color: AliceBlue;
        border: 1px solid hsl(210, 100, 60);
        border-radius: 1em;
        vertical-align: middle;
        padding: 0 0.6em 0.1em 0.6em;
      }
    }
  }
}
