.m-post {
  .breadcrumbs {
    font-size: $ftsz-s;
    font-weight: bold;
    a {
      color: hsl(260, 100, 60);
      text-decoration: none;
    }
  }
  .content-header {
    text-align: center;
    .content-title {
      margin: 0.25em 0;
      font-weight: 400;
    }
    .content-meta {
      padding: 0.25em 0;
      font-size: 0.75rem;
      color: $ftcl-html-light;
      border-bottom: 1px solid hsl(10, 100, 60);
    }
  }
  .content-text {
    margin: 1em 0;
    letter-spacing: 0.02em;
  }
  .content-footer {
    margin: 1em 0;
  }
}
