.m-post {
  .content-header {
    text-align: center;
    .content-title {
      margin: 0.25em 0;
      font-weight: 400;
    }
    .content-meta {
      padding: 0.25em 0;
      font-size: $ftsz-st;
      color: $ftcl-html-light;
      border-bottom: 1px solid hsl(10, 100, 60);
    }
  }
  .content-text {
    margin: 1em 0;
    letter-spacing: 0.02em;
    line-height: $line-height-content;
  }
  .content-footer {
    //margin: 1em 0;

    .tag-list {
      .tag-svg {
        color: hsl(250, 100, 40);
      }
      .tag-word {
        display: inline-block;
        font-size: $ftsz-s;
        color: hsl(210, 100, 60);
        background-color: AliceBlue;
        border: 1px solid hsl(210, 100, 60);
        border-radius: 1em;
        vertical-align: middle;
        padding: 0 0.6em 0.1em 0.6em;
      }
    }
  }
}
