.post .breadcrumbs {
  font-size: 0.75em;
}

.tag-word {
  font-size: 0.75em;
  padding: 0 0.5em;
  color: LightSlateGray;
  background-color: AliceBlue;
  border: 1px solid LightSteelBlue;
  border-radius: 0.5em;
  vertical-align: middle;
}

.copyright {
  text-align: center;
  color: MidnightBlue;
}