.m-widget {
  background-color: $bgcl-widget;
  margin-bottom: $margin-widget-gap;
  padding: $margin-widget;
  border: 1px solid $bdcl-layout;
  .widget-title {
    font-weight: bold;
  }
  ul {
    margin: 0;
    padding-left: 10px;
    list-style-type: none;
  }
  hr {
    margin: 5px 5px 5px -5px;
    border-style: dashed none none none;
    border-width: 1px;
    border-color: DarkGray;
  }
  &.profile {
        
  }
  &.page-list {
        
  }
  &.category-list {
    .target_div {
      background-color: Lavender;
    }
    .posts-num{
      float: right;
    }
  }
}

.m-hamburger-menu {
  display: none;
}
.l-center .l-inner-wrap .l-column-left .m-hamburger-menu {
  text-align: right;
}

.m-site-logo{
  display: inline-block;
}

.m-site-search {
  float: right;
}

.l-footer .l-inner-wrap .m-copyright {
  text-align: center;
  font-size: $ftsz-small;
  color: MidnightBlue;
}



.post-list {
  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    li {
      border-bottom: 1px solid Gainsboro;
      &:last-child{
        border-bottom: 0;
      }
    }

    .post-info {
      display: grid;
      grid-template-columns: auto 4em 7em;
      font-size: $ftsz-small;
      .breadcrumbs, .comment-count, .posted-date {
        color: darkgray;
      }
      .comment-count .material-icons-two-tone {
        font-size: $ftsz-small;
      }
      .posted-date {
        text-align: right;
      }
    }
  }
}
