.post {
  .content-header {
    text-align: center;
    .content-title {
      margin: 0.25em 0;
      //font-size: 1.5rem;
      font-weight: 400;
    }
    .content-meta {
      padding: 0.25em 0;
      font-size: $ftsz-small;
      color: LightSlateGray;
      border-bottom: 1px solid Crimson;
    }
  }
  .content-text {
    margin: 1em 0;
  }
  .content-footer {
    margin: 1em 0;
  }
}
