#sidebar {
  width: $sidebar-width;
  float: left;

  outline: 1px dashed black; // temporary
  .sidebar-menu-title {
    font-weight: bold;
  }
  hr {
    margin: 5px 5px 5px -5px;
    border-style: dashed none none none;
    border-width: 1px;
    border-color: $sidebar-cat-hr-color;
  }
  #pages {
    
  }
  #categories {
    ul {
      margin: 0;
      padding-left: 10px;
      list-style-type: none;
    }
  }
}