// size
$site-width: 1024px;

$sidebar-width: 200px;

$header-height: 100px;
$footer-height: 100px;

// margin
$margin-site: 20px;

$margin-sidebar: 20px;
$margin-main: 20px;

// breakpoint
$bp-medium: 992px;
$bp-small: 600px;

// color
$header-bg-color: White;
$header-border-color: Gainsboro;

$center-bg-color: White;

$footer-bg-color: AliceBlue;
$footer-border-color: Gainsboro;

$color-hr: Gainsboro;

$color-link: DimGray;
$color-visited: DimGray;
$color-hover: Navy;

// sideber
$sidebar-cat-hr-color: DarkGray;

// font
@mixin font-html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.1250em;
  color: DimGray;
  letter-spacing: 0.02em;
}
$line-height-html: 1.6;
@mixin font-header {
  font-family: 'Caveat', sans-serif;
  font-size: 2em;
  $line-height-html: 1;
}


$font-family-h: 'Noto Sans KR', sans-serif;
$font-size-h1: 2em;
$font-size-h2: 1.7em;
$font-size-h3: 1.4em;
$font-size-h4: 1.2em;
$font-size-h5: 1.1em;
$font-size-h6: 1em;