// Dimension
$max-width-site: 1024px;
$width-col-left: 200px;
$height-header: 100px;
$height-footer: 100px;

// Margin
$margin-inner-wrap: 20px;
$margin-col-x: 20px;
$margin-col-y: 20px;

$margin-main: 20px;

// breakpoint(less than equal)
// large > 992px
$bp-medium: 992px;
$bp-small: 600px;

// color
$color-header-bg: White;
$color-header-border: Gainsboro;

$color-center-bg: White;

$color-footer-bg: Snow;
$color-footer-border: Gainsboro;

$color-hr: LightGray;

// sidebar
$sidebar-cat-hr-color: DarkGray;

// font
$font-size-html: 1.1250em; // = 18px

$font-size-medium: 1rem; 
$font-size-small: 0.75rem; // = 13.5

$font-size-h1: 1.6rem; // = 28.8
$font-size-h2: 1.5rem; // = 27
$font-size-h3: 1.4rem; // = 25.2
$font-size-h4: 1.3rem; // = 23.4
$font-size-h5: 1.2rem; // = 21.6
$font-size-h6: 1.1rem; // = 19.8


$line-height-html: 1.6;
$color-basic-font: #353535;
@mixin font-html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.1250em;
  font-weight: 400;
  color: $color-basic-font;
  letter-spacing: 0.03em;
  line-height: $line-height-html;
}
@mixin font-mono {
  font-family: 'Nanum Gothic Coding', monospace;
  color: $color-basic-font;
  letter-spacing: 0;
}



$color-link: $color-basic-font;
$color-visited: $color-basic-font;
$color-hover: LightSlateGray;

@mixin font-header {
  font-family: 'Caveat', sans-serif;
  font-size: 2em;
  $line-height-html: 1;
}

$font-family-h: 'Noto Sans KR', sans-serif;




// float overflow 방지
@mixin clearfix{
  &::after{
    content: "";
    clear: both;
    display: table;
  }
}