body {
  margin: 0;
}

// float overflow 방지
@mixin float-hack{
  &::after{
    content: "";
    clear: both;
    display: table;
  }
}

#header {
  width: $site-width;
  height: $header-height;
  margin: auto;
}
#middle-body {
  width: $site-width;
  margin: auto;
  @include float-hack;
}
#footer {
  width: $site-width;
  height: footer-height;
  margin: auto;
  .copyright {
    text-align: center;
  }
}

#sidebar {
  width: $sidebar-width;
  margin: auto;
  float: left;
  .sidebar-menu-title {
    font-weight: bold;
  }
  hr {
    margin: 5px 5px 5px -5px;
    border-style: dashed none none none;
    border-width: 1px;
    border-color: blue;
  }
  #pages {
    
  }
  #categories {
    ul {
      margin: 0;
      padding-left: 10px;
      list-style-type: none;
    }
  }
}
#main {
  width: $site-width - $sidebar-width;
  margin: auto;
  float: left;
}
