// length
$site-width: 1200px;
$sidebar-width: 200px;

$header-height: 100px;
$footer-height: 100px;

$section-margin: 10px;

// color
$header-bg-color: White;
$header-border-color: Gainsboro;

$body-bg-color: White;

$footer-bg-color: AliceBlue;
$footer-border-color: Gainsboro;

// sideber
$sidebar-cat-hr-color: DarkGray;