{%- comment -%}
<!--
  ** Input parameters **
    list    = site.data.navi.categories
    url     = Target url.
    url-now = Current url.
    mode    = "plain"
              "link"
              "plain-comp"
              "link-comp"
              
  ** Url format **
    /abc/def(/*)
-->
{%- endcomment -%}
<div class="breadcrumbs">

{%- assign url-array = include.url | remove_first: "/" | split: "/" -%}
{%- assign text_array = "/" | split: "/" -%}

{%- capture text_array -%}
  {%- include_cached recur-breadcrumbs.html list=include.list text_array=text_array url-array=url-array -%}
{%- endcapture -%}

{%- assign text_array = text_array | split: "/" -%}
{%- assign rt_num = text_array.size | minus: 1 -%}

{%- assign rel_url_array = "" -%}
{%- for i in (0..rt_num) -%}
  {%- assign rel_url = "" -%}
  {%- for j in (0..i) -%}
    {%- assign rel_url = rel_url | append: "/" | append: url-array[j] -%}
  {%- endfor -%}
  {%- assign rel_url_array = rel_url_array | append: ":" | append: rel_url -%}
{%- endfor -%}
{%- assign rel_url_array = rel_url_array | remove_first: ":" | split: ":" -%}


{%- case include.mode -%}
  {%- when "plain" -%}

    {%- for i in (0..rt_num) -%}
      {%- if forloop.first == false -%}
        <span class="separator"> > </span>
      {%- endif -%}
        <span>{{- text_array[i] -}}</span>
    {%- endfor -%}

  {%- when "link" -%}

    {%- for i in (0..rt_num) -%}
      {%- if forloop.first == false -%}
        <span> > </span>
      {%- endif -%}
        <a href="{{- rel_url_array[i] -}}">{{- text_array[i] -}}</a>
    {%- endfor -%}

  {%- when "plain-comp" -%}

    {%- assign url-now-array = include.url-now | remove_first: "/" |  split: "/" -%}
    {%- for i in (url-now-array.size..rt_num) -%}
      {%- if forloop.first == false -%}
        <span> > </span>
      {%- endif -%}
        <span>{{- text_array[i] -}}</span>
    {%- endfor -%}

  {%- when "link-comp" -%}

    {%- assign url-now-array = include.url-now | remove_first: "/" |  split: "/" -%}
    {%- for i in (url-now-array.size..rt_num) -%}
      {%- if forloop.first == false -%}
        <span> > </span>
      {%- endif -%}
      {%- if forloop.last == true -%}
        <a href="{{- rel_url_array[i] -}}">{{- text_array[i] -}}</a>
      {%- else -%}
        <span>{{- text_array[i] -}}</span>
      {%- endif -%}
    {%- endfor -%}

  {%- else -%}

    {{- text_array | concat: rel_url_array | join: ":" -}}

{%- endcase -%}
</div>