{%- for item in include.list -%}
{%- assign target_url = item.url | prepend: "/" | prepend: include.url -%}
<li>
  <div class="{{- target_url -}}">
    {%- assign last-category = target_url | split: "/" | last -%}
    {%- assign my_posts = site.posts | where:"categories", last-category -%}
    {%- if {{my_posts.size}} != 0 -%}
      <a href="{{ target_url }}">{{- item.title -}}</a>
      {%- unless item.sub -%}
        <span>({{- my_posts.size -}})</span>
      {%- endunless -%}
    {%- else -%}
      {{- item.title -}}
    {%- endif -%}
  </div>
  {%- if item.sub -%}
    <ul>
      {%- include category-menu.html list=item.sub url=target_url -%}
    </ul>
  {%- endif -%}
</li>
{%- if item.hr -%}
  <hr/>
{%- endif -%}
{%- endfor -%}