<section class="l-column-left" id="sidebar">
  <div class="m-hamburger-menu">
    <button onclick="sidebar_close()">
      {% include svg/close_black_24dp.svg %}
    </button>
  </div>
  <div class="m-widget profile">
    <div class="site_name">
      <a class="site_name" href="{{ '/' | relative_url }}">
        {{- site.name -}}
      </a>
    </div>
  </div>

  <nav class="m-widget page-list" id="sl-page-list">
    <div class="widget-title">{{- site.data.ui-text[site.locale].sidebar_pages | default: 'page' -}}</div>
    {%- include page-list.html -%}
  </nav>

  <nav class="m-widget category-list" id="sl-category-list">
    <div class="widget-title">{{- site.data.ui-text[site.locale].sidebar_categories | default: 'category' -}}
    </div>
    <ul>
      {%- include category-list.html list=site.data.navi.categories page_url=page.url target_url="" -%}
    </ul>
  </nav>
</section>