<section class="l-column left" id="sidebar">
  <div class="m-hamburger-menu">
    <button onclick="sidebar_close()">
      <span class="material-icons-two-tone">
        close
      </span>
    </button>
  </div>
  <div class="m-widget profile">
    <div class="site_name">
      <a class="site_name" href="{{ '/' | relative_url }}">
        {{- site.name -}}
      </a>
    </div>
  </div>

  <nav class="m-widget page-list" id="sl-page-list">
    <div class="widget-title">{{- site.data.ui-text[site.locale].sidebar_pages | default: 'page' -}}</div>
    <ul>
      {%- for page in site.data.navi.pages -%}
      <li>
        <a href="{{ page.url }}">{{- page.title -}}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>

  <nav class="m-widget category-list" id="sl-category-list">
    <div class="widget-title">{{- site.data.ui-text[site.locale].sidebar_categories | default: 'category' -}}
    </div>
    <ul>
      {%- include category-menu.html list=site.data.navi.categories url="" -%}
    </ul>
  </nav>
</section>