{%- assign url = include.url -%}
{%- assign url-begin = url | slice: 0 -%}

{%- if url-begin == "/" -%}
  {%- assign url = url | remove_first: "/" -%}
{%- endif -%}

{%- assign cat-array = url | append: "/" | split: "/" -%}

{%- if cat-array.size == 0 -%}
  {%- assign filtered-posts = site.posts -%}
{%- else -%}
  {%- assign cat_num = cat-array.size | minus: 1 -%}
  
  {%- assign filtered-posts = site.posts | where:"categories", cat-array[0] -%}
  {%- for i in (1..cat_num) -%}
    {%- assign filtered-posts = filtered-posts | where:"categories", cat-array[i] -%}
  {%- endfor -%}
{%- endif -%}

<div class="post-list">
  <ul>
    {%- for post in filtered-posts -%}
    <li>
      <div class="post-title">
        <a href="{{ post.url }}">{{- post.title -}}</a>
      </div>
      <div class="post-info">
        <div class="breadcrumbs">
          {%- include_cached breadcrumbs.html list=site.data.navi.categories url=post.url url-now=page.url mode="plain-comp" -%}
        </div>
        <div class="posted-date">
          {{- post.date | date: "%Y. %m. %d." -}}
        </div>
        <div class="comment-count">
          <span class="material-icons-two-tone">
            mode_comment
          </span>
          <span>
            0
          </span>
        </div>
      </div>
    </li>
    {%- endfor -%}
  </ul>
</div>