{%- assign url = include.url -%}
{%- assign url-begin = url | slice: 0 -%}

{%- if url-begin == "/" -%}
  {%- assign url = url | remove_first: "/" -%}
{%- endif -%}

{%- assign cat-array = url | append: "/" | split: "/" -%}

{%- if cat-array.size != 0 -%}
  {%- assign cat_num = cat-array.size | minus: 1 -%}
  
  {%- assign filtered-posts = site.posts | where:"categories", cat-array[0] -%}
  {%- for i in (1..cat_num) -%}
    {%- assign filtered-posts = filtered-posts | where:"categories", cat-array[i] -%}
  {%- endfor -%}
{%- else -%}
  {%- assign filtered-posts = site.posts -%}
{%- endif -%}

<div class="post-list">
  <ul>
    {%- for post in filtered-posts -%}
    <li>
      {%- if cat-array.size == 0 -%}
        {%- include breadcrumbs.html url=post.url mode="plain" -%}
      {%- endif -%}
      {{post.basename}}
      <a href="{{ post.url }}">{{- post.title -}}</a>
      {{- post.date | date: "%Y. %m. %d." -}}
    </li>
    {%- endfor -%}
  </ul>
</div>