{%- for item in include.list -%}

{%- assign target_url = item.url | prepend: "/" | prepend: include.target_url -%}

{%- assign target_url_array = target_url | remove_first: "/" | split: "/" -%}
{%- assign page_url_array = include.page_url | remove_first: "/" | split: "/" -%}

{%- assign is_stopover_menu = true -%}
{%- assign url_depth = target_url_array.size | minus: 1 -%}
{%- for i in (0..url_depth) -%}
  {%- if target_url_array[i] != page_url_array[i] -%}
    {%- assign is_stopover_menu = false -%}
  {%- endif -%}
{%- endfor -%}

{%- assign is_destination_menu = false -%}
{%- if is_stopover_menu -%}
  {%- if target_url_array.size == page_url_array.size or item.sub == nil -%}
    {%- assign is_destination_menu = true -%}
  {%- endif -%}
{%- endif -%}

<li>
  {%- assign cat_num = target_url_array.size | minus: 1 -%}
  
  {%- assign filtered-posts = site.posts | where:"categories", target_url_array[0] -%}
  {%- for i in (1..cat_num) -%}
    {%- assign filtered-posts = filtered-posts | where:"categories", target_url_array[i] -%}
  {%- endfor -%}

  {%- if {{filtered-posts.size}} != 0 -%}

    {%- if is_stopover_menu -%}
    <div class="stopover_menu_marker">
      {% include svg/play_arrow_black_24dp.svg %}
    </div>
    <div class="stopover_menu {% if is_destination_menu %} destination_menu{% endif %}">
    {%- else -%}
    <div>
    {%- endif -%}

      <a href="{{ target_url }}">{{- item.text -}}</a>
      {%- unless item.sub -%}
        <span class="posts-num">[{{- filtered-posts.size -}}]</span>
      {%- endunless -%}
    </div>
  {%- else -%}
    <div class="no-posts">
      {{- item.text -}}
    </div>
  {%- endif -%}

  {%- if item.sub -%}
    <ul>
      {%- include recur-categories.html list=item.sub page_url=include.page_url target_url=target_url -%}
    </ul>
  {%- endif -%}
</li>
{%- if item.hr -%}
  <hr/>
{%- endif -%}

{%- endfor -%}