{%- for item in include.list -%}

{%- assign target_url = item.url | prepend: "/" | prepend: include.target_url -%}

{%- assign target_url_array = target_url | remove_first: "/" | split: "/" -%}
{%- assign page_url_array = include.page_url | remove_first: "/" | split: "/" -%}

{%- assign is_selected_menu = true -%}
{%- assign url_depth = target_url_array.size | minus: 1 -%}
{%- for i in (0..url_depth) -%}
  {%- if target_url_array[i] != page_url_array[i] -%}
    {%- assign is_selected_menu = false -%}
  {%- endif -%}
{%- endfor -%}

<li>
  {%- assign cat_num = target_url_array.size | minus: 1 -%}
  
  {%- assign filtered-posts = site.posts | where:"categories", target_url_array[0] -%}
  {%- for i in (1..cat_num) -%}
    {%- assign filtered-posts = filtered-posts | where:"categories", target_url_array[i] -%}
  {%- endfor -%}

  {%- assign is_no_post = false -%}
  {% if {{filtered-posts.size}} == 0 %}
    {%- assign is_no_post = true -%}
  {% endif %}

  {%- if is_selected_menu -%}
    <div class="selected-menu-marker">
      {% include svg/play_arrow_black_24dp.svg %}
    </div>
  {%- endif -%}
    <div class="menu{% if is_selected_menu %} selected-menu{%- endif -%}{% unless item.sub %} terminal-menu{% endunless %}{% if is_no_post %} no-post{% endif %}">
      {%- if is_no_post -%}
        {{- item.text -}}
        {%- unless item.sub -%}
          <span class="posts-count">[{{- filtered-posts.size -}}]</span>
        {%- endunless -%}
      {%- else -%}
        <a href="{{ target_url }}">
          <div>
            {{- item.text -}}
            {%- unless item.sub -%}
              <span class="posts-count">[{{- filtered-posts.size -}}]</span>
            {%- endunless -%}
          </div>
        </a>
      {%- endif -%}
    </div>

  {%- if item.sub -%}
    <ul>
      {%- include recur-categories.html list=item.sub page_url=include.page_url target_url=target_url -%}
    </ul>
  {%- endif -%}
</li>
{%- if item.hr -%}
  <hr/>
{%- endif -%}

{%- endfor -%}