<div class="profile">
  <div class="Hamburger_menu">
    
  </div>
  <div class="site_name">
    <a class="site_name" href="{{ '/' | relative_url }}">
      {{ site.name }}
    </a>
  </div>
</div>

<div class="pages">
  <ul>
    {% for page in site.data.navigation.pages %}
    <li>
      <a href="{{ page.url }}">{{ page.text }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="categories">
  <ul>
    {% for category in site.categories %}
    <li>
      <a href="{{ category.url }}">{{ category | first }}</a>
    </li>
    {% endfor %}
  </ul>
</div>