<header class="l-header">
  <div class="l-inner-wrap">
    <div class="m-header">
      <div class="hamburger-open">
        <button class="btn-hamburger" onclick="sidebar_open()">
          {% include svg/menu_black_24dp.svg %}
        </button>
      </div>
      <div class="site-logo">
        <a class="site-name" href="{{ '/' | relative_url }}">
          <img class="site-name-img" src="/assets/images/site_name.png" alt="{{- site.name -}}">
        </a>
      </div>
    </div>
  </div>
</header>