---
---
<!doctype html>
<html lang="{{ site.locale }}">

<head>
  {% include head.html %}
</head>

<body>
  {% include_cached l-skip-links.html %}
  {% include_cached browser-upgrade.html %}

  {% include l-header.html %}

  <section class="l-center">
    <div class="l-inner-wrap">
      {% include l-col-left.html %}
      <section class="l-col-right">
        <main class="l-main">
          {{ content }}
        </main>
        {%- include l-comment.html -%}
        {%- include l-related.html -%}
        {%- include l-featured.html -%}
      </section>
    </div>
  </section>

  {% include l-footer.html %}

  <script>
    function sidebar_open() {
      document.getElementById("sidebar").style.display = "block";
    }

    function sidebar_close() {
      document.getElementById("sidebar").style.display = "none";
    }
  </script>

</body>

</html>