---
---
<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% comment %}
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% endcomment %}
    
    <header class="header">
      {% include header.html %}
    </header>

    <main class="main">
      <div class="main_inner">
        <section class="content">
          {{ content }}
        </section>
      
        <aside class="sidebar">
          {% include sidebar.html %}
        </aside>
      
        <aside class="toc">
      
        </aside>
      </div>
    </main>

    <footer class="footer">
      {% include footer.html %}
    </footer>
    
  </body>
</html>