---
---
<!doctype html>
<html lang="{{ site.locale }}">

<head>
  {% include head.html %}
</head>

<body>
  {% include_cached skip-links.html %}
  {% include_cached browser-upgrade.html %}

  <header class="header" id="header">
    <div class="header__inner-wrap">
      {% include header.html %}
    </div>
  </header>

  <section class="center" id="center">
    <div class="center__inner-wrap">

      <aside class="sidebar" id="sidebar">
        {% include sidebar.html %}
      </aside>

      <main class="main" id="main">
        <section class="core" id="core">
          {{ content }}
        </section>
        <section class="featured-posts" id="featured-posts">
          {% include featured-posts.html %}
        </section>
      </main>

    </div>
  </section>

  <footer class="footer" id="footer">
    <div class="footer__inner-wrap">
      {% include footer.html %}
    </div>
  </footer>
</body>

</html>