---
layout: default
---
<div class="post">
  {% include_cached breadcrumbs.html list=site.data.navi.categories url=page.url mode="link" %}
  <section class="content" id="content">
    <div class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-meta">
        {{ page.date | date: "%Y. %m. %d." }}
      </div>
    </div>
    <div class="post-content">
      {{ content }}
    </div>
    <div class="post-footer">
      <div class="tag-list">
        {% assign tags_sorted = page.tags | sort_natural %}
        {% for tag_word in tags_sorted %}
        <span class="tag_word">#{{ tag_word }}</span>
        {% endfor %}
      </div>
    </div>
  </section>
  <aside class="toc" id="toc">

  </aside>
</div>
<section class="pagenation">
  <div>
    {% include_cached breadcrumbs.html list=site.data.navi.categories url=page.url mode="link" %}
  </div>
  {% assign post-url = page.url | remove_first: "/" | split: "/" %}
  {% assign post-url-num = post-url.size | minus: 2 %}
  {%- assign cat-url = "" -%}
  {% for i in (0..post-url-num) %}
  {% assign cat-url = cat-url | append: "/" | append: post-url[i] %}
  {% endfor %}

  {% include post-list.html url=cat-url %}
</section>