---
layout: default
---
<main class="m-main m-post">
  {% include_cached breadcrumbs.html list=site.data.navi.categories url=page.url url-now=page.url mode="link" %}
  <section class="content" id="content">
    <div class="content-header">
      <h1 class="content-title">{{ page.title }}</h1>
      <div class="content-meta">
        {{ page.date | date: "%Y. %m. %d." }}
      </div>
    </div>
    <div class="content-text">
      {{ content }}
    </div>
    <div class="content-footer">
      <div class="tag-list">
        <span class="tag-svg">
          {% include svg/tag_black_24dp.svg %}
        </span>

        {% assign tags_sorted = page.tags | sort_natural %}
        {% for tag_word in tags_sorted %}
        <span class="tag-word">{{ tag_word }}</span>
        {% endfor %}
      </div>
    </div>
  </section>
</main>